1. 판다스 패캐지 로드

In [37]:
import pandas as pd

2. pandas의 series와 dataframe
1차원, 1개의 column을 series라고 함

2-1 series

컬럼단위를 시리즈라고 함

In [38]:
import pandas as pd

pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [39]:
import pandas as pd

a = [1,2,3,4]
pd.Series(a) #문법조심!!!!

0    1
1    2
2    3
3    4
dtype: int64

In [40]:
import pandas as pd

mylist = [1,2,3,4]
pd.Series(mylist)

0    1
1    2
2    3
3    4
dtype: int64

In [41]:
type(pd.Series(mylist)) #dtype자체가 series임. 
#dataframe에서 호출했는데 series가 호출되는 경우 조심

pandas.core.series.Series

2-2 dataframe

1. list로 만들기

In [42]:
company1 = [['삼성', 2000, '스마트폰'],
            ['현대', 1000, '자동차'],
            ['네이버', 500, '포털']]

pd.DataFrame(company1)

     0     1     2
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [43]:
df1 = pd.DataFrame(company1)

In [44]:
df1 #데이터프레임 생성후 변수지정을 해줘야 다시 호출 가능함 (시리즈도 마찬가지)

     0     1     2
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

제목 컬럼 만들기

In [45]:
df1.columns = ['회사명', '매출액', '업종']
df1

   회사명   매출액    업종
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

dict로 만들기

In [46]:
company2 = {'기업명':['삼성', '현대', '네이버'],
            '매출액':[2000,1000,500],
            '업종':['스마트폰', '자동차', '포털']}

In [47]:
df2 = pd.DataFrame(company2)
df2
#딕셔너리형태일 때는 키값이 컬럼명, 데이터프레임도 가로로 선언됨

   기업명   매출액    업종
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

index를 특정 column으로 지정하기

판다스에서 index 지정하는 경우 : 주로 시각화할 때 축 이름 지정시 \n
데이터프레임 조인시

In [48]:
df1

   회사명   매출액    업종
0   삼성  2000  스마트폰
1   현대  1000   자동차
2  네이버   500    포털

In [51]:
df2

     기업명   매출액    업종
기업명
삼성    삼성  2000  스마트폰
현대    현대  1000   자동차
네이버  네이버   500    포털

In [50]:
df2.index = df2['기업명']
df2

     기업명   매출액    업종
기업명
삼성    삼성  2000  스마트폰
현대    현대  1000   자동차
네이버  네이버   500    포털

In [52]:
df1['매출액']

0    2000
1    1000
2     500
Name: 매출액, dtype: int64

In [53]:
df2['매출액']

기업명
삼성     2000
현대     1000
네이버     500
Name: 매출액, dtype: int64

In [54]:
type(df1['매출액'])

pandas.core.series.Series

In [55]:
type(df2['매출액'])

pandas.core.series.Series